.container {
  max-height: 100vh;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  color: #c5c5c5 !important;
}

.contacts {
  background-color: #080311;
  .profileSection {
    max-height: 4rem;
    min-height: 4rem;
    border-radius: 0;
    box-shadow: none;
    background-color: #080311;
    border-bottom: 1px solid rgb(0, 47, 255);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.messages {
  position: relative;
  background-color: #080311fb;

  max-height: 100vh;
  .messageSection {
    max-height: 4rem;
    min-height: 4rem;
    border-radius: 0;
    box-shadow: none;
    background-color: #080311fb;
    border-bottom: 1px solid rgb(0, 47, 255);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
      h6 {
        margin-left: 1rem;
      }
    }
  }
  .messagesBody {
    overflow-y: auto;
    // background-color: #080311fb;
    overflow-x: hidden;
    max-height: 82%;
    min-height: 82%;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .sendMessageBody {
    position: absolute;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    background-color: #080311;
    input {
      height: 80%;
      background-color: #080311;
    }
  }
}

.msg {
  max-width: 65%;
  padding: 0.4rem 1rem;
  //   border-radius: 12px;
  word-break: break-all;

  margin: 0.5rem 0;
  .timestamp {
    display: block;
    text-align: right;
    color: #cccccc;
  }
}

.sentByMe {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  max-width: 100%;
  min-width: 100%;
  .msg {
    background-color: #9e424b;
    border-bottom-right-radius: 0;
    color: #fff;
  }
}

.sentByOther {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 100%;
  min-width: 100%;
  .msg {
    background-color: #15092c;
    color: #fff;
    border-bottom-left-radius: 0;
  }
}

.name {
  font-weight: 600;
  margin: 0;
  color: #fff !important;
  letter-spacing: 0.5px;
}

.active {
  background-color: #15092c !important;
  border-right: 3px solid #9e424b !important;
}

.lightIcon{
    color: rgb(228, 227, 227)!important;
}